In [13]:
import json
import pandas as pd

In [18]:
cc = pd.read_csv("data/CC_detail.csv")

In [19]:
cc.head()

,Unnamed: 0,c_name,c_code_num,ISO_code,pop,area,GDP_B_USD
0,0,Afghanistan,93,AF,29121286,647500,20.65 Billion
1,1,Albania,355,AL,2986952,28748,12.8 Billion
2,2,Algeria,213,DZ,34586184,2381740,215.7 Billion
3,3,American Samoa,1-684,AS,57881,199,462.2 Million
4,4,Andorra,376,AD,84000,468,4.8 Billion

In [20]:
dictionary = dict(zip(list(cc.ISO_code),list(cc.c_name)))

In [27]:
j = json.dumps(dictionary)
f = open('data/countries.json', 'w')
print(j, file=f)
f.close()

In [28]:
country_codes = json.load(open('data/countries.json'))

In [30]:
country_codes["RU"]

'Russia'